a {
  text-decoration: none;
  color: #49b5e7;
}

a:hover {
  color: #76c7ed;
  text-decoration: none;
}

h1:not(#no-bg),
h2:not(#no-bg),
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.about {
  background-color: var(--background-color);
}

#services {
  background-color: var(--hero1-background-color);
}

p:not(#no-bg) {
  color: var(--text-color);
}

p.description {
  color: var(--text-color);
}

div:not(#no-bg) {
  background-color: var(--background2-color);
}

h3 {
  color: var(--h3-color);
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ba49e7;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6dc4ec;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#header {
  background: #f8e7ff;
  transition: all 0.5s;
  z-index: 997;
  padding: 10px 0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  transition: transform 1s ease; /* Add transition for smooth appearance/disappearance */
}

#header.header-hidden {
  transform: translateY(-100%);
}

.navbar {
  padding: 0x;
  background-color: #f8e7ff;
}

.navbar ul {
  margin: 0;
  padding: 10px;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #8531ce;
}

#big-big-img {
  src: url("/public/images/30.png");
  z-index: 999;
}

#hero {
  width: 100%;
  height: 80vh;
  background: url("/public/images/25.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

#hero .container {
  padding-top: 84px;
}

#hero h1 {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 56px;
  color: #ffffff;
  text-transform: uppercase;
}

#hero h2 {
  color: #a9dcf4;
  margin: 10px 0 0 0;
  max-width: 40vh;
  font-size: 20px;
}

#hero .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  transition: 0.5s;
  margin-top: 25px;
  color: #ffffff;
  border-radius: 10px;
  background: rgba(193, 113, 255, 0.271);
  text-transform: uppercase;
}

#hero .btn-get-started:hover {
  color: rgb(0, 0, 0);
  background: #ecdafa;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: left;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}



.section-bg {
  background-color: #f4fbfe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #0f394c;
}

.section-title p {
  margin-bottom: 0;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 40px;
  color: #6c757d;
}

.about .icon-boxes h3 {
  font-size: 28px;
  font-weight: 700;
  color: #0f394c;
  margin-bottom: 15px;
}

.about .icon-box {
  margin-top: 40px;
}

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #edd0f9;
  border-radius: 50px;
  transition: 0.5s;
}

.about .icon-box .icon i {
  color: #9b49e7;
  font-size: 32px;
}

.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.about .icon-box .title a:hover {
  color: #9349e7;
}

.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}

.about .img-box {
  background: url("/public/images/1.png") center no-repeat;
  background-size: contain;
  min-height: 500px;
}

@media (min-width: 1200px) {
  .about .img-box {
    margin-left: 15px;
    margin-right: -15px;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: var(--card-background-color);
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}

.services .icon-box:hover {
  transform: translateY(-5px);
}

.services .icon {
  border-radius: 20px;
  position: relative;
  margin-bottom: 10px;
  top: calc(50% - 30px);
}

.services .icon img {
  border-radius: 20px;
  height: 150px;
  width: 150px;
  transition: 0.5s;
}

.services .title {
  align-self: center;
  margin-left: 10px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: var(--text-color);
}

.services .icon-box:hover .title a {
  color: #bd49e7;
}

.services .description {
  font-size: 14px;
  margin-left: 10px;
  line-height: 24px;
  margin-bottom: 0;
}

.contact .info i {
  font-size: 20px;
  color: #ba81f7;
  float: left;
  width: 44px;
  height: 44px;
  background: #ebf7fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #370f4c;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #6320a1;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #9349e7;
  color: #fff;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#footer {
  background: var(--footer1-background-color);
  padding: 0 0 30px 0;
  color: #444444;
  font-size: 14px;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: var(--footer1-background-color);
  text-align: center;
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #0f394c;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: var(--background2-color);
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #9549e7;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #b21de0;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: var(--background-color);
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #0f394c;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #e5f0f9;
  color: #eba0ff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #9c1de089;
  color: #fff;
  text-decoration: none;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  margin-left: 340px;
  width: 100px;
  background-color: #b21de0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: green;
}

/* About Section */
.about {
  padding: 60px 0;
  background-color: #f9f9f9;
}

.section-title h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Language Selector and New Feature */
.language-selector {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 70px;
}

label {
  color: var(--text-color);
}

.tab-container {
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #ffffff;
  padding: 20px;
}

.tab-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab-button {
  flex: 1;
  background: none;
  border: none;
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-button.active {
  background-color: #327da8;
  color: white;
  border-radius: 5px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Reviews Section */
.reviews {
  padding: 60px 0;
  background-color: #f9f9f9;
}

.reviews .section-title h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.reviews .section-title p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 40px;
  color: #6c757d;
}

.review-card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.review-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
}

.review-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.review-rating {
  font-size: 1.2rem;
  color: #ffc107;
  margin-bottom: 15px;
}

.review-text {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: transparent !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background-color: transparent !important;
}

.swiper-wrapper {
  background-color: transparent !important;
}

.swiper,
.swiper-slide,
.swiper-wrapper {
  background-color: transparent !important;
}
