.meal-planner-container {
  max-width: 1572px;
  margin: auto;
}

.meal-planner-container .row {
  margin-bottom: 0;
}

.meal-planner-container .ui.grid>.row.meal-planner-heading-wrapper {
  padding-bottom: 0px;
}

.meal-planner-container .heading-container {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.7);
}

.meal-planner-container .date-container {
  text-align: right;
  padding-top: 40px;
}

.meal-planner-container .heading-container .main-heading {
  font-size: 47px;
  line-height: 64px;
  margin-right: 5px;
  color: black;
  -webkit-text-fill-color: #114EEC;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.meal-planner-container .banner-container {
  height: 238px;
  border-radius: 50px;
  background-image: url('../../images/mealPlan/banner_image.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 20px !important;
}

.meal-planner-container .meal-content-container,  .details-container .details-box {
  font-size: 24px;
  color: #114EEC;
  width: 100%;
}

.meal-planner-container .row.meal-portion-text {
  padding-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.meal-breakfast-image-container {
  position: relative;
}

.meal-breakfast-image-container img {
  border-radius: 10px;
  cursor: pointer;
}

.meal-breakfast-image-container .meal-image {
  width: 204px;
  height: 149px;
}

.meal-breakfast-image-container .meal-name {
  position: absolute;
  bottom: 10px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  color:#000000;
  border-radius: 20px;
  font-size: 10px;
}

.details-container {
  padding: 20px;
  box-sizing: border-box;
  /* Include padding in the width calculation */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.details-container .details-box {
  background-color: rgb(17, 78, 236, 0.2);
  padding: 20px;
  border-radius: 20px;
}

button.viewplan {
  display: block;
  margin: auto;
  width: 100%;
  padding: 10px 70px;
  margin-top: 40px;
  background-color: #BA49E7;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.selected {
  border: 2px solid rgb(40, 40, 65);
  /* Add a blue border when item is selected */
  box-shadow: 5px 14px 14px 5px rgba(33, 7, 124, 0.1);
  background-color: aliceblue;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}


header {
  background-color: #caa3e1;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

header h1 {
  margin: 0;
}

input {
  padding: 8px;
  margin-right: 8px;
}

