.mycolor
{
    color:#BA49E7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.buttoncolor
{
  margin-left:20%;
  background-color: #BA49E7;
  border:1px solid black;
  color:white;
}
.container70 {
    width: 70%;
    border-radius: 10px;
    background-color: #F8E7FF;
    padding: 20px;
}

.container30 {
    width: 30%;
    margin-left:3%;
    border-radius: 10px;
    background-color: #F8E7FF;
    padding: 20px;
}

.custom-row {
  margin:auto;
    display: flex;
    justify-content: space-between;
}

.form-group {
    margin-bottom: 20px;
    max-width: 500px; /* Adjust the form width */
    padding: 10px;
  }

  label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }

  .input-wrapper {
    display: flex;
    align-items: center;

    padding: 5px 15px;

  }

  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type="text"] {
    border: none;
    outline: none;
    flex: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 10px;
    border-radius: 25px;
  }

  .form-label {
    margin-bottom: -0.5rem;
}
  input[type="text"]::placeholder {
    color: #ccc;
  }
  input{
    display: inline;;
  }
  .validation-icon {
    font-size: 20px;
    color: green;
    margin-left: 10px;
  }

  .error-message {
    color: green;
    font-size: 16px;
    margin-top: 1px;
    margin-left: 15px;
  }

.signup-google,
.signup-facebook,
.signup-help {
  padding: 10px;
  padding-left:1px;
  width: auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 20px 0;
  }

  .progress {
    background-color: #8e24aa;
    height: 10px;
    border-radius: 5px;
  }

  .signup-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
.signup-google {
  background-color: #BA49E7;
  color: #fff;
}
.signup-google:hover{
  background-color: #6f1393;
}

.signup-facebook {
  background-color: #BA49E7;
  color: #fff;
}
.signup-facebook:hover{
  background-color: #6f1393;
}

.signup-help {
  background-color: #BA49E7;
  color: #fff;
}
.signup-help:hover {
  background-color: #6f1393;
}
.img
{
  height:200px;
}
.foodimg
{
  width:22px;
  height:22px;
}
.signupimg
{
  width:48px;
  height:48px;
}
.checkbox
{
  display: inline;
  font-size:12px;
}
