.mycolor {
  color: #ba49e7;
  text-shadow: 0px 0.25em 0.25em rgba(0, 0, 0, 0.25);
}

.btn {
  margin-top: 0 !important;
  width: 20%;
  margin-left: 10% !important;
  border-radius: 50px;
}

.buttoncolor {
  margin-left: 20%;
  background-color: #ba49e7;
  border: 0.06em solid black;
  color: white;
}

.container70 {
  width: 67%;
  border-radius: 0.625em;
  background-color: #f8e7ff;
  padding: 1.25em;
}

.container310 {
  width: 30%;
  margin-left: 1%;
  border-radius: 0.625em;
  background-color: #f8e7ff;
  padding: 1.25em;
}

.custom-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 1%;
}

.form-group {
  margin-bottom: 1.25em;
  max-width: 100%;
  padding: 0.625em;
}

label {
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.3125em;
}

.input-wrapper {
  display: flex;
  align-items: center;
  padding: 0.3125em 0.9375em;
}

.form-control {
  width: 100%;
  padding: 0.625em;
  font-size: 1em;
  border: 0.0625em solid #ccc;
  border-radius: 0.25em;
  box-sizing: border-box;
}

input[type="text"] {
  border: none;
  outline: none;
  flex: 1;
  box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.1);
  font-size: 1em;
  padding: 0.625em;
  border-radius: 1.5625em;
}

.form-label {
  margin-bottom: -0.3125em;
}

input[type="text"]::placeholder {
  color: #ccc;
}

input {
  display: inline;
}

.validation-icon {
  font-size: 1.25em;
  color: green;
  margin-left: 0.625em;
}

.error-message {
  color: green;
  font-size: 1em;
  margin-top: 0.0625em;
  margin-left: 0.9375em;
}

.signup-google,
.signup-facebook,
.signup-help {
  padding-left: 0.0625em;
  width: auto;
  border: none;
  border-radius: 0.3125em;
  cursor: pointer;
  font-weight: bold;
}

.progress-bar {
  background-color: #e0e0e0;
  border-radius: 0.3125em;
  margin: 1.25em 0;
}

.progress {
  background-color: #8e24aa;
  height: 0.625em;
  border-radius: 0.3125em;
}

.signup-options {
  display: flex;
  flex-direction: column;
  gap: 0.625em;
}

.signup-google {
  padding-left: 0;
  background-color: #ba49e7;
  color: #fff;
}

.signup-google:hover {
  background-color: #6f1393;
}

.signup-facebook {
  background-color: #ba49e7;
  margin-left: 13%;
  color: #fff;
}

.signup-facebook:hover {
  background-color: #6f1393;
}

.signup-help {
  background-color: #ba49e7;
  margin-left: 10%;
  color: #fff;
}

.signup-help:hover {
  background-color: #6f1393;
}

.img {
  height: auto;
  max-width: 100%;
}

.foodimg {
  width: 2em !important;
  height: 2em !important;
}

.Foodpreference {
  margin-top: 0;
  float: left !important;
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.fp {
  margin-top: 0 !important;
}

.Foodpreference label {
  padding-top: 1.25em;
  font-size: 1.25em;
}

.signupimg {
  width: 3em;
  height: 3em;
}

.checkbox {
  display: inline;
  font-size: 0.75em;
}

/*ADDED: RADIO BUTTON styling for Fitness Goals */
.gender-options {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 0.5em;
}

.gender-options label {
  font-weight: bold;
  font-size: 1em;
  color: #000;
  display: flex;
  align-items: center;
}

.gender-options input[type="radio"] {
  margin-right: 0.5em;
  transform: scale(1.2);
  accent-color: #ba49e7;
}
