/* General header styling */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #BA49E792;
  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: background-color 0.3s ease-in-out;
}

/* When scrolled, add solid background */
.main-header.scrolled {
  /* background-color: rgba(255, 255, 255, 1); */
  background-color: #F8E7FF;
}

/* Navbar container */
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Logo */
.logo-container img {
  height: 50px;
}

.logo{
  margin-left: 0;
}

.user-profile{
  position: relative;
  left: 40%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.profile-link {
  display: flex;
  flex-direction: column;  /* Stack image and text vertically */
  align-items: center;     /* Center the items horizontally */
  text-decoration: none;   /* Remove underline */
}

.profile-image{
  width: 30px;
}



/* HAMBURGER MENU BUTTON */
.hamburger {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  display: block; /* Always show */
  position: relative;
  right: 55%;
}

.hamburger:hover{
  background-color: #BA49E792;
  color: white;
  border-radius: 5px;
}

/* NAV MENU - Initially Hidden */
.nav-links {
  position: absolute;
  top: 80px;
  left: -600px;
  width: 290px;
  height: fit-content;
  background: #BA49E792;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: left 0.3s ease-in-out;
  opacity: 1;
  border-radius: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  padding-top: 22px;
  padding-bottom: 22px;
}

/* Show Menu when Open */
.nav-links.open {
  left: -50px;
}

/* Links inside menu */
.nav-link {
  color: var(--navtext-color); /* Set the text color */
  text-decoration: none;
  font-size: 18px;
  padding: 12px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #0b1d51;
}

/* DROPDOWN MENU */
.dropdown-content {
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  height: fit-content;
  width: fit-content;
  left: 90px;
  top: 0px;
  white-space: nowrap;
  padding-left: 0px;
  
}

.dropdown-content ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}


.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: row; 

}

.dropdown-link:hover{
  color: #0b1d51;
  text-decoration: underline;
}

/* Responsive: Keep hamburger visible on all screens */
@media screen and (max-width: 768px) {
  .nav-links {
    width: 100%;
  }
}
