body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    
  }
.mfa{
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.mfa-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100vh;
    position: relative; /* Added for button positioning */
  }
  
  .mfa-input-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  .mfa-input {
   
    width: 50px;
    height: 50px;
    margin: 0 5px;
    text-align: center;
  }
  
  .mfa-submit-button {
    position: absolute; /* Position button relative to parent container */
    top: 421px; /* Y position */
    left: 664px; /* X position */
    padding: 10px 20px;
    background-color: #ae00ff;
    color: #fff;
    border: none;
    border-radius: 50px;  /* Curved corners for better look */
    cursor: pointer;
  }
  
  .mfa-submit-button:hover {
    background-color: #0056b3;
  }
  