 .userProfile-container {
  /* border: 5px solid rgba(18, 18, 255, 0.701); */
    padding: 10px;
    margin: 10px;
    background: #F8E7FF;
    font-family: 'Lato', sans-serif;
}  
.logo-img {
    width: 100px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 120px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav ul li {
    list-style: none;
    font-size: 16px;
    color: #BA49E7;
    font-weight: 700;
    margin-top: 15px;
}

/* content */
.userProfile-content {

    display: flex;
    justify-content: space-between;
    align-items: start;
}

/* user-profile photo */
.userProfile-section {
    padding: 40px 15px;
    margin: 20px 40px;
    background: #FBFAFF;
    border-radius: 5px;
}

.user-img-container {
    padding: 10px 40px;
    background: #F8E7FF;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.choose-photo-text {
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #000;
}

.bottom-text {
    margin-top: 170px;
}

.bottom-text p {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    text-align: center;
    line-height: .5;
}

.bottom-text-pair {
    margin-top: 40px;
}

/* form */

.user-form-container {
    width: 70%;


}

.form-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
    margin-left: 100px;
}

label {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"] {
    outline: 0;
    padding: 11px 20px;
    width: 100%;
    margin-right: 0px;
    box-shadow: none;
    border: 4px solid #b6a7a7;
    border-radius: 0px;
    font-size: 17px;
    color: black;
    font-weight: bold;

}

.edit-btn {
    padding: 5px 12px;
    outline: none;
    border: none;
    background: #AAABAE;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 60px;
    margin-left: 50px;
}

.logout-btn-content {
    display: flex;
    justify-content: center;
}

.logout-btn {
    background: #BA49E7;
    text-transform: uppercase;
    border: 0;
    color: #fff;
    font-size: 20px;
    padding: 8px 70px;
    border-radius: 8px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
    outline: none;

}

.textbox-n {
    text-align: right;
}

/* Container for the input and icon */
.date-input-container {
    position: relative;
    display: inline-block;
}


/* Style the calendar icon */
.date-input-container::before {
    content: "\1F4C5";
    /* You can replace this with your own icon (e.g., an SVG) */
    position: absolute;
    top: 40%;
    left: 10px;
    /* Adjust the position as needed */
    transform: translateY(-50%);
    font-size: 20px;
    color: #999;
    /* Icon color */
    pointer-events: none;
    /* Prevent icon from being clickable */
}



.search-bar {
    background-color: lightgreen;
    padding: 10px;
    display: flex;
    align-items: center;
}

.icon {
    /* Style for the calendar icon */
}

input[type="text"] {
    /* Style for the search input */
    flex-grow: 1;
    margin-right: 10px;
}

.availability-button,
.search-button {
    /* Style for the buttons */
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.providers-dropdown {
    /* Style for the dropdown menu */
    background-color: white;
    border: 1px solid darkgreen;
    padding: 5px;
}

.h-6 {
    height: 15px;
}

.h-provider {
    font-size: 17px;
    color: black;
    font-weight: 550;
}

.health-icon {
    height: 35px;
    color: green;
}

.healthcare-title {
    font-size: 17px;
    color: black;
    font-weight: 550;
}

.providers {
    background-color: #e1e1e1;
    max-height: 260px;
    overflow-y: scroll;
}

.health-conatiner {
    border: 4px solid #b6a7a7;
    padding: 9px 15px;
}

.mr-0 {
    margin-right: 0px;
    padding-right: 0px;
}

.ml-0 {
    margin-left: 0px;
    padding-left: 0px;
}

.pointer {
    cursor: pointer;
}

.btn-search {
    margin-top: 0px;
    background: green;
    border-radius: 0px;
    padding: 13px 30px;
    border: 4px solid #b6a7a7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn-search:hover {
    background: rgb(2, 96, 2);
    border: 4px solid #b6a7a7;
}

.br-none {
    border-right: 0px !important;
}


.btn-reminder {
    margin-top: 0px;
    background: #af1212;
    padding: 13px 30px;
    border: 4px solid #af1212;
    width: 220px;
    font-size: 18px;
    font-weight: bold;
}
.btn-reminder:hover{
    background: #8f0909;
}

.alert-icon {
    transform: rotate(-19deg);
    height: 30px;
    margin-left: -10px;
}